* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  justify-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  align-self: center;
  justify-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: none;
  margin: none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

h2 {
  font-size: 0.8rem;
  text-align: right;
  margin-top: 0.2rem;
}

/* animations */
@keyframes showBoard {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (prefers-reduced-motion) {
  @keyframes showBoard {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes fromLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes fromRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.fromLeft {
  animation: fromLeft;
  animation-duration: 2.5s;
}

.fromRight {
  animation: fromRight;
  animation-duration: 2.5s;
}

/* board styling */
.board {
  display: grid;
  grid-template-columns: repeat(9, auto);
  border: 3px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  animation-name: showBoard;
  animation-duration: 3s;
}

.square {
  width: 3rem;
  height: 3rem;
  font-size: medium;
  border: 1px solid black;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .square {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .square {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.wrong {
  color: red;
}

.square:disabled {
  color:black;
  font-weight: 800;
}

.square:focus {
  outline: none!important;
}

.square:nth-of-type(3n+3) {
  border-right: 3px solid black;
}

.boxbottom {
  border-bottom: 3px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  margin-bottom: 10rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

button {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  cursor: pointer;
  z-index: 10;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background: black;
  transform-origin: 1px;
  transition: all 0.25s linear;
}

.menuwrapper {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
}

.margin-top-10rem {
  margin-top: 10rem;
}