body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

#title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
  padding: none;
  margin: none;
}

h1 {
  line-height: 0.8rem;
  font-size: 2rem;
}

h2 {
  line-height: 0.6rem;
  font-size: 0.8rem;
  text-align: right;
}

/* board styling */
.board {
  display: grid;
  grid-template-columns: repeat(9, auto);
  border: 3px solid black;
  border-right: 1px solid black;
}

.square {
  width: 3rem;
  height: 3rem;
  font-size: medium;
  border: 1px solid black;
  text-align: center;
}

.wrong {
  color: red;
}

.square:disabled {
  color:black;
  font-weight: 800;
}

.square:focus {
  outline: none!important;
}

.square:nth-of-type(3n+3) {
  border-right: 3px solid black;
}

.boxbottom {
  border-bottom: 3px solid black;
}